/* Import custom fonts before Tailwind directives */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
body {
    margin: 0;
    background-color: black; /* Change to black if desired */
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
@media (max-width: 419px) {
    .carousel{
      width: 334px;
      height: 125px;
      font-size: small;
    }
    .carousel img{
        width: 334px;
        height: 125px;
        object-fit: cover;
    }
}

@media (min-width: 420px) {
    .carousel{
      width: 400px;
      height: 150px;
    }
    .carousel img{
        width: 400px;
        height: 150px;
        object-fit: cover;
    }
}
@media(min-width: 800px){
    .carousel{
        width: 700px;
        height: 437.5px;
    } 
    .carousel img{
        width: 700px;
        height: 437.5px;
        object-fit: cover;
    }
}
.text-carousel{
    background-color: rgba(0, 0, 0, 0.397);
}
.carousel{
    margin-top: 5%;
}
.current-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}